ul
	li 
		!= partial( "_shared/sl-icons-01" )
		strong Social Science
		p Socialeads captures social media content and analyzes for context, life events and personality dimensions.
	li
		!= partial( "_shared/sl-icons-02" )
		strong Data Science
		p Socialeads integrates digital marketing and CRM data for machine learning models that identify and rank top prospects, referrers and influencers.
	li 
		!= partial( "_shared/sl-icons-03" )
		strong Advanced Technology
		p Socialeads chat bots and notification systems provide instant access to actionable data about people across the social network landscape.

hr
		
p
	a( href="#contactUs" ) Learn More