section#winner
	div.container
		article.column.col-lg-10.col-xl-10
			h2 Northwestern Mutual Reverse Pitch Winner

			ul
				li
					a(href="https://www.northwesternmutual.com" title="Northwestern Mutual" target="_blank")
						!= partial( "/_shared/logo.nm" )
				li 
					img( alt="Northwestern Mutual - Reverse Pitch" src="#{ github_deploy }/assets/nmRevPitch.png" )
				li
					a(href="#theStory" title="The Story")
						!= partial( "/_shared/logo" )

		article.column.col-lg-8.col-xl-8
			hr
			
			p Socialeads wins Northwestern Mutual’s first ever ReversePitch challenge, garnering seed investment from NM and joins NM’s Innovation Lab.