ul
	li
		img( alt="Data Science" src="#{ github_deploy }/assets/DS.png")
		strong Data Science
		p Socialeads integrates digital marketing and CRM data for machine learning models that identify and rank top prospects, referrers and influencers.
	li 
		img( alt="Social Science" src="#{ github_deploy }/assets/SS.png")
		strong Social Science
		p Socialeads captures social media content and analyzes for context, specific content and personality dimensions.
	li 
		img( alt="Advanced Technology" src="#{ github_deploy }/assets/AT.png")
		strong Advanced Technology
		p Socialeads chat bots and notification systems provide instant access to actionable data about people across the social network landscape.

hr
		
p
	a( href="#contactUs" ) Learn More