html
	head
		title= title
		meta( name="description" content="#{ description }")
		meta( name="viewport" content="width=device-width")
		script( src="https://kryogenix.org/code/browser/smoothscroll/smoothscroll.js")
		script( src="#{ github_deploy }/js/app.js" )
		link( rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,300i,700,700i,900" )
		link( rel="stylesheet" href="#{ github_deploy }/main.css" )
		
	body.loading
		//- != partial("_shared/nav")
		!=partial("_shared/marquee")
		!=partial("_shared/logo")
		main 
			!= yield
		!= partial("_shared/footer")
