section
	div.container
		article.column.col-lg-8.col-xl-8
			!= partial("/_content.story")
			
section.lightgray
	div.container
		article.column.col-lg-8.col-xl-8
				!= partial("/_content.works")
			
		article.column.col-lg-12.col-xl-12( style="text-align:center;" )
			!= partial("/_content.list")

section.black
	div.container
		div.column.col-lg-6.col-xl-6
			!= partial("/_shared/form.contact")