#contactUs {
	font-family: $sans-font-family;
	
	fieldset {
		border:none;
		padding: $base-padding 0px;
	}

  label, article label {
    color: rgba(map-get($colors, white), $base-opacity);
    text-align: left;
    font-size: $small-font-size;
    display:inline-block;
  }

  textarea {
    outline: none;
    border: $border-width solid rgba(map-get($colors, white), $base-opacity);
    font-size: $h6-font-size;
    width:100%;
    font-weight: 700;
    margin-bottom: $base-input-padding;
    background-color: transparent;
    padding: $base-input-padding;
    font-family: $sans-font-family;
    color: map-get($colors, white);
    height:200px;
    
    ::placeholder {
      color: rgba(map-get($colors, black), $base-opacity);
      font-weight: 700;
    }
  }
  
  input {
    border:none;
    border-radius: none;
    font-weight: bold;
    outline: none;
    width:100%;
    display:block;
    border-bottom: $border-width solid rgba(map-get($colors, white), $base-opacity);
    background-color:transparent;
    color: map-get($colors, white);
    font-size: $h4-font-size;
    padding: $base-input-padding 0;
    margin-bottom: $base-input-padding;
    font-family: $sans-font-family;

    ::placeholder {
      color: rgba(map-get($colors, black), $base-opacity);
      font-weight: 700;
    }
    
    :focus {
	    border-bottom: $border-width solid rgba(map-get($colors, black), 1);
    }
    
    &[type="submit"] {
		display:inline-block;
		border:0px;
		padding:$tight-padding $base-padding;
		border-radius: $border-radius;
		background-color: map-get($colors, white);
		color: map-get($colors, black);
		cursor:pointer;
		transition: transform $base-trans-duration $base-bezier; 
		
		&:hover {
			transform: scale(1.1);
		}
	  }
  }
}