.marquee {
  position:relative;
  box-sizing:content-box;
  min-height: calc(100vh - 50px);
  overflow:hidden;
  background-color: map-get($colors, black);
  color: map-get($colors, white);
  text-align: center;
  padding-top: 50px;
  
  	display: flex;
	flex-direction:column;
	justify-content: center;
  
  .image {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-size:cover;
    background-position: center center;
    opacity:.3;
    transform: scale(1.01) rotate(-.5deg);
    
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: kenB;
  }

  h1 {
    font-family: $display-font-family;
    font-weight: 900;
  }

  p {
    text-align: center;
    &:first-of-type {
	    @media screen and (min-width: $on-palm+1 ) {
	    	font-size: $large-font-size;
	    }
    }
  }
  
  a[href="#contactUs"] {
	  background-color: map-get($colors, primary);
	  color: map-get($colors, white);
  }
}


@keyframes kenB {
  from {
    transform: scale(1.02) rotate(-.3deg);
  }
  to {
    transform: scale(1.15) rotate(1.5deg);
  }
}