svg( version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve" )
	path( class="st1" d="M186.8,170.6c4.6,7.8,3.6,18-3.1,24.6c-3.9,3.9-9.1,5.9-14.3,5.9c-5.2,0-10.4-2-14.3-5.9\
		c-7.9-7.9-7.9-20.7,0-28.6c6.7-6.7,16.9-7.7,24.6-3.1l42.9-42.9c-0.7-9.2-2.7-18.2-6.1-26.9l-8.7,8.7l-7.1-7.1l11.4-11.4\
		c-3.6-6.9-8.1-13.4-13.5-19.5l-49.9,49.9l-7.1-7.1l49.9-49.9c-6-5.4-12.5-9.9-19.4-13.6l-11.4,11.4l-7.1-7.1l8.8-8.8\
		c-8.5-3.3-17.6-5.4-26.9-6.1l-33.9,33.9l-7.1-7.1l26.9-26.9c-22.9,1.6-44.2,11.2-60.6,27.6c-16.8,16.8-26,38.5-27.5,60.5l20-20\
		c-1.8-3.1-2.9-6.6-2.9-10.3c0-5.4,2.1-10.5,5.9-14.3c3.8-3.8,8.9-5.9,14.3-5.9s10.5,2.1,14.3,5.9c7.9,7.9,7.9,20.7,0,28.6l0,0\
		c-3.8,3.8-8.9,5.9-14.3,5.9c-3.7,0-7.2-1-10.3-2.9l-27,27c0.7,9.2,2.7,18.2,6.1,26.9l72.9-72.9c-4.6-7.8-3.6-18,3.1-24.6\
		c7.9-7.9,20.7-7.9,28.6,0c7.9,7.9,7.9,20.7,0,28.6l0,0c-3.9,3.9-9.1,5.9-14.3,5.9c-3.6,0-7.2-1-10.3-2.8l-75.6,75.6\
		c3.6,6.9,8.1,13.4,13.5,19.5l43.1-43.1c-4.6-7.8-3.6-18,3.1-24.6c7.9-7.9,20.7-7.9,28.6,0c7.9,7.9,7.9,20.7,0,28.6l0,0\
		c-3.9,3.9-9.1,5.9-14.3,5.9c-3.6,0-7.2-1-10.3-2.8l-43.1,43.1c6,5.4,12.6,9.9,19.5,13.5l75.6-75.6c-4.6-7.8-3.6-18,3.1-24.6\
		c7.9-7.9,20.7-7.9,28.6,0c7.9,7.9,7.9,20.7,0,28.6l0,0c-3.9,3.9-9.1,5.9-14.3,5.9c-3.6,0-7.2-1-10.3-2.8l-72.9,72.9\
		c8.7,3.4,17.7,5.4,26.9,6.1l17.9-17.9l7.1,7.1l-10.9,10.9c22.1-1.5,43.7-10.7,60.5-27.5c16.8-16.8,26-38.5,27.5-60.5L186.8,170.6z" )
	path( class="st1" d="M125.1,145.4c4-4,4-10.5,0-14.5c-2-2-4.6-3-7.2-3c-2.6,0-5.2,1-7.2,3c-4,4-4,10.5,0,14.5\
		C114.6,149.4,121.1,149.4,125.1,145.4z" )
	path( class="st1" d="M137,86.3c4-4,4-10.5,0-14.5c-2-2-4.6-3-7.2-3c-2.6,0-5.2,1-7.2,3c-4,4-4,10.5,0,14.5\
		C126.5,90.3,133,90.3,137,86.3z" )
	path( class="st1" d="M184.2,133.5c4-4,4-10.5,0-14.5c-2-2-4.6-3-7.2-3c-2.6,0-5.2,1-7.2,3c-4,4-4,10.5,0,14.5\
		C173.7,137.5,180.2,137.5,184.2,133.5z" )
	path( class="st1" d="M162.1,173.7c-4,4-4,10.5,0,14.5c4,4,10.5,4,14.5,0c4-4,4-10.5,0-14.5c-2-2-4.6-3-7.2-3\
		C166.7,170.7,164.1,171.7,162.1,173.7z" )
	path( class="st1" d="M78,98.2L78,98.2c4-4,4-10.5,0-14.5c-1.9-1.9-4.5-3-7.2-3s-5.3,1.1-7.2,3c-1.9,1.9-3,4.5-3,7.2s1.1,5.3,3,7.2\
		c1.9,1.9,4.5,3,7.2,3S76,100.2,78,98.2z" )
	g
		path( class="st2" d="M137,86.3c4-4,4-10.5,0-14.5c-2-2-4.6-3-7.2-3c-2.6,0-5.2,1-7.2,3c-4,4-4,10.5,0,14.5\
			C126.5,90.3,133,90.3,137,86.3z" )
		path( class="st2" d="M125.1,145.4c4-4,4-10.5,0-14.5c-2-2-4.6-3-7.2-3c-2.6,0-5.2,1-7.2,3c-4,4-4,10.5,0,14.5\
			C114.6,149.4,121.1,149.4,125.1,145.4z" )
		path( class="st2" d="M184.2,133.5c4-4,4-10.5,0-14.5c-2-2-4.6-3-7.2-3c-2.6,0-5.2,1-7.2,3c-4,4-4,10.5,0,14.5\
			C173.7,137.5,180.2,137.5,184.2,133.5z" )
		path( class="st2" d="M186.8,170.6c4.6,7.8,3.6,18-3.1,24.6c-3.9,3.9-9.1,5.9-14.3,5.9c-5.2,0-10.4-2-14.3-5.9\
			c-7.9-7.9-7.9-20.7,0-28.6c6.7-6.7,16.9-7.7,24.6-3.1l42.9-42.9c-0.7-9.2-2.7-18.2-6.1-26.9l-8.7,8.7l-7.1-7.1l11.4-11.4\
			c-3.6-6.9-8.1-13.4-13.5-19.5l-49.9,49.9l-7.1-7.1l49.9-49.9c-6-5.4-12.5-9.9-19.4-13.6l-11.4,11.4l-7.1-7.1l8.8-8.8\
			c-8.5-3.3-17.6-5.4-26.9-6.1l-33.9,33.9l-7.1-7.1l26.9-26.9c-22.9,1.6-44.2,11.2-60.6,27.6c-16.8,16.8-26,38.5-27.5,60.5l20-20\
			c-1.8-3.1-2.9-6.6-2.9-10.3c0-5.4,2.1-10.5,5.9-14.3c3.8-3.8,8.9-5.9,14.3-5.9s10.5,2.1,14.3,5.9c7.9,7.9,7.9,20.7,0,28.6l0,0\
			c-3.8,3.8-8.9,5.9-14.3,5.9c-3.7,0-7.2-1-10.3-2.9l-27,27c0.7,9.2,2.7,18.2,6.1,26.9l72.9-72.9c-4.6-7.8-3.6-18,3.1-24.6\
			c7.9-7.9,20.7-7.9,28.6,0c7.9,7.9,7.9,20.7,0,28.6l0,0c-3.9,3.9-9.1,5.9-14.3,5.9c-3.6,0-7.2-1-10.3-2.8l-75.6,75.6\
			c3.6,6.9,8.1,13.4,13.5,19.5l43.1-43.1c-4.6-7.8-3.6-18,3.1-24.6c7.9-7.9,20.7-7.9,28.6,0c7.9,7.9,7.9,20.7,0,28.6l0,0\
			c-3.9,3.9-9.1,5.9-14.3,5.9c-3.6,0-7.2-1-10.3-2.8l-43.1,43.1c6,5.4,12.6,9.9,19.5,13.5l75.6-75.6c-4.6-7.8-3.6-18,3.1-24.6\
			c7.9-7.9,20.7-7.9,28.6,0c7.9,7.9,7.9,20.7,0,28.6l0,0c-3.9,3.9-9.1,5.9-14.3,5.9c-3.6,0-7.2-1-10.3-2.8l-72.9,72.9\
			c8.7,3.4,17.7,5.4,26.9,6.1l17.9-17.9l7.1,7.1l-10.9,10.9c22.1-1.5,43.7-10.7,60.5-27.5c16.8-16.8,26-38.5,27.5-60.5L186.8,170.6z" )
		path( class="st2" d="M78,98.2L78,98.2c4-4,4-10.5,0-14.5c-1.9-1.9-4.5-3-7.2-3s-5.3,1.1-7.2,3c-1.9,1.9-3,4.5-3,7.2s1.1,5.3,3,7.2\
			c1.9,1.9,4.5,3,7.2,3S76,100.2,78,98.2z" )
		path( class="st2" d="M128,0C57.3,0,0,57.3,0,128s57.3,128,128,128s128-57.3,128-128S198.7,0,128,0z M202.2,202.2\
			C181.8,222.7,154.9,233,128,233s-53.8-10.2-74.2-30.7c-40.9-40.9-40.9-107.6,0-148.5s107.6-40.9,148.5,0S243.2,161.3,202.2,202.2z" )
		path( class="st2" d="M162.1,173.7c-4,4-4,10.5,0,14.5c4,4,10.5,4,14.5,0c4-4,4-10.5,0-14.5c-2-2-4.6-3-7.2-3\
			C166.7,170.7,164.1,171.7,162.1,173.7z" )
