svg( version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve" )

	g
		path( class="st0" d="M195.2,60.8C177.2,42.9,153.4,33,128,33c-25.4,0-49.2,9.9-67.2,27.8C42.9,78.8,33,102.6,33,128\
			c0,25.4,9.9,49.2,27.8,67.2c37,37,97.3,37,134.4,0C232.2,158.1,232.2,97.9,195.2,60.8z M165.5,88.4h10v77.3h-10V88.4z M143.9,106\
			h10v59.7h-10V106z M122.9,130.6h10v35.1h-10V130.6z M102.1,76.8h10v88.8h-10V76.8z M80.5,149.3h10v16.4h-10V149.3z M188.4,185.9\
			H68.7v-10h119.7V185.9z" )
		path( class="st0" d="M128,0C57.3,0,0,57.3,0,128s57.3,128,128,128s128-57.3,128-128S198.7,0,128,0z M202.2,202.2\
			C181.8,222.7,154.9,233,128,233c-26.9,0-53.8-10.2-74.2-30.7C33.9,182.4,23,156,23,128c0-28,10.9-54.4,30.8-74.2S100,23,128,23\
			c28,0,54.4,10.9,74.2,30.8C243.2,94.7,243.2,161.3,202.2,202.2z" )
